html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.person {
  display: flex;
}
.main {
  width: 624px;
  margin: 16px;
  left: 388px;
  top: 267px;
  background-color: #f8f8f8;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.header {
  margin: 36px;
}
img {
  width: 148px;
  height: 148px;
  border-radius: 74px;
  margin: 32px;
  left: 420px;
  top: 299px;
}
h1 {
  margin: 0px;
  font-weight: normal;
}
.subscribe {
  line-height: 22px;
  margin: 31px;
  font-size: 16px;
}

.links {
  color: #e20613;
  text-decoration: none;
}
.atuts {
  color: #ed6d05;
}
.position {
  color: #545454;
  margin: 0px;
}
